<section class="vh-100" style="background-color: #131415;">
  <div class="container py-5 h-100 " style="color: #131415;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="{{character.image}}"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5>{{character.name}}</h5>
              <p>{{character.status}}</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Species</h6>
                    <p class="text-muted">{{character.species}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Gender</h6>
                    <p class="text-muted">{{character.gender}}</p>
                  </div>
                </div>
                <h6>Locations</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Recent</h6>
                    <p class="text-muted">{{character.origin.name}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Most Viewed</h6>
                    <p class="text-muted">{{character.location.name}}</p>
                  </div>
                </div>
                <div class="d-grid gap-2 d-md-block">
                  <button class="btn btn-outline-danger btn-sm" routerLink="/characters">back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>