.gradient-custom {
    /* fallback for old browsers */
    background: #1e1d1b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(26, 25, 25), rgb(26, 23, 22));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(23, 22, 19), rgb(21, 19, 18))
    }