<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://i.redd.it/2e99wgj1lei31.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Rick and Morty
    </a>
  </nav>
  