<div class="container">
    <div class="row">
      <div class="col-md-12">
        <input [(ngModel)]="search" (input)="getCharacters()" placeholder="Search characters">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Species</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let character of character.results">
              <td *ngIf="character.name.includes(search)">{{ character.name }}</td>
              <td *ngIf="character.name.includes(search)">{{ character.status }}</td>
              <td *ngIf="character.name.includes(search)">{{ character.species }}</td>
              <td *ngIf="character.name.includes(search)">{{ character.gender }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  