

<div class="card bg-dark text-white">
    <img src="https://www.xtrafondos.com/wallpapers/resized/rick-y-morty-fanart-2020-6344.jpg?s=large" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Welcome</h5>
      <p class="card-text">to the site with the most complete list of Rick and Morty characters</p>
      <p class="card-text">Last updated 3 mins ago</p>
      <button class="btn btn-outline-light" routerLink="/characters">To characters!</button>
    </div>
  </div>
