.button{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    padding: 1rem;
    background-color: aqua;
    border: 1px solid aqua;
    cursor: pointer;
    font-size: 1,5rem;
    width: 45px;
    height: 45px;
} 