<h1 class="text-center">Characters</h1>
<br>
<div>
  <input class="form-control" list="datalistOptions" id="exampleDataList" [(ngModel)]="name"  (ngModelChange)="getCharacter()"
    placeholder="Type to search...">
  <datalist id="datalistOptions">
    <option value="Rick Sanchez">
    <option value="Alexander">
    <option value="Morty Smith">
  </datalist>
</div>
<br>
<!-- *ngIf="cha.name.includes(search)" -->

<div class="container" style="color: black;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
     <div class="col"  *ngFor="let cha of characters.results | paginate: {itemsPerPage : 200, currentPage: page }"
      search="cha.name">
      <!-- <div class="card h-100" *ngIf="cha.name.includes(name)" > -->
      <div class="card h-100">
        <img src="{{cha.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cha.name}}</h5>
          <a class="btn btn-outline-info" [routerLink]="['/character',cha.id]">details?</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{cha.created}}</small>
        </div>
      </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<br>
<!-- <button  class="button " *ngIf="showButtom" (click)="onScrollTop()" >up</button> -->

  <pagination-template  #p="paginationApi" >
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item ">
          <a class="page-link" *ngIf="pageNum > 1 "  (click)="backCharacters(); p.previous()">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" >{{this.pageNum}}</a></li>
        <li class="page-item pagination-next" >
          <a class="page-link" *ngIf="pageNum < 42 " (click)="moreCharacters();p.next()">Next</a>
        </li>
      </ul>
    </nav>
  </pagination-template>
  
